:root {
  /* Farge variabler */
  --primaryColor: #fcc388ff; /* Peach */
  --secondaryColor: #ffc5c9ff; /* Tea rose red*/
  --accentColor: #ffffd1ff; /* Cream */
  --accentColorTwo: #fee5d0ff; /* Champagne pink*/
  --accentColorThree: #fff6edff; /* Seashell */

  /* Størrelse variabler */
  --smallSpace: 8px;
  --mediumSpace: 16px;
  --largeSpace: 24px;
  --fullScreen: 100vh;

  /* Skrift variabler */
  --fontFamily: "Roboto";
  --fontSize: 18px;
}

/* GENERAL */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--fontFamily);
}

.sectionCenter {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

a{
  text-decoration: none;
  color: var(--primaryColor);
}

h1, h2, h3 {
  display: flex;
  justify-content: center;
  align-items: center;
}


img {
  max-width: 50%;
}

.icon {
  height: 32px;
  width: 32px;
}

.hidden {
  display: none;
}

.light {
  background-color: white;
  color: rgb(31, 30, 30);
}

.dark {
  background-color: rgb(31, 30, 30);
  color: var(--primaryColor);
}

/* HEADER */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  background-color: rgb(31, 30, 30);
  height: 100px;
}

.headerIcon {
  width: 52px;  
  height: auto;
}

/* Nav */

.headerNav{
  padding: 30px;
  /*not good but better*/
}

.navList {
  transform: rotate(45deg);
  transform-origin: top left; 
  transition: transform 0.3s ease; 
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 20px;
  list-style: none; 
}

/* MAIN */
.section {
  min-height: 90vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

/* FOOTER */
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(31, 30, 30);
}

/* MEDIA */
@media (max-width: 426px) {
  .header
  .sectionImg,
  .sectionFacts,
  .footer {
    flex-direction: column;
    gap: 8px;
    padding: 8px;
  }
}
/* Header responsive is 404 */
